<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Exception Handler 사용하기</h1>
<h3>SimpleMappingExceptionResolver를 이용한 방식</h3>
<button onclick="location.href='simple-null'">NullPointerException 테스트</button><br>
<button onclick="location.href='simple-user'">사용자 정의 Exception 테스트</button>

<h3>@ExcptionHandler 어노테이션을 이용한 방식</h3>
<button onclick="location.href='annotation-null'">NullPointerException 테스트</button><br>
<button onclick="location.href='annotation-user'">사용자 정의 Exception 테스트</button>

</body>
</html>